<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anketiranje</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="https://bootswatch.com/4/minty/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row mt-5">
    <div class="col-md-6 m-auto" style="margin: 70px 35px;font-family: 'Candara Light';">
        <div class="card card-body">
            <h1 class="text-center mb-3" style="border-bottom: 1px solid red;padding: 20px;"><i class="fas fa-sign-in-alt"></i>  Login</h1>
            <form action="/login" method="post" style="padding: 20px;">

                <div class="form-group">
                    <label for="name">UserName</label>
                    <input
                            type="text"
                            id="username"
                            name="username"
                            class="form-control"
                            placeholder="Enter UserName"
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="Enter Email"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            placeholder="Enter Password"
                    />
                </div>
                <button type="" class="btn btn-default btn-block" style="background-color: red;color: whitesmoke;border:1px solid red;" >
                <a role="button" class="btn btn-default"  style="text-decoration: none;
                background-color:red;color:whitesmoke;border: red;font-family: Arial;font-size: 25px;">
                    Login</a>
                </button>
            </form>
            <br>
            <p class="lead mt-4" >
                Nemate racun? <a href="/register" style="color: red;" >Register</a>
            </p>
        </div>
    </div>
    <img src="/images/login.png" style="margin:150px;width: 18%;height: 18%;"/>

</div>

<script>

</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>
